body { margin: 0; background-color: black; }
noscript { color: white; }
  #map { height: 100%; }
  ul[id^='photoslist-'] { padding: 0; margin: 0; float: right; width: 166px; overflow: auto; text-align: center; }
  ul[id^='photoslist-'] li { display: inline-block; width: 150px; margin: 4px auto; }
  ul[id^='photoslist-'] li img { cursor: pointer; }
  .awesome-marker i { font-size: 16px; }
  .hidden { display: none;}

  #framecontent
  {
  position: absolute;
  top: 0;
  bottom: 0; 
  right: 0;
  width: 166px;
  height: 100%;
  color: white;
  }

  #maincontent
  {
  position: fixed;
  top: 0;
  left: 0;
  right: 166px;
  bottom: 0;
  overflow: auto;
  }